In [267]:
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize
from nltk.chunk import conlltags2tree
from nltk.tree import Tree
import pandas as pd
import os
from nltk import pos_tag
import datetime 
from itertools import groupby
import pickle
import re
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Float, Boolean, DateTime, insert, select
import numpy as np
import itertools
import matplotlib.pyplot as plt
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
init_notebook_mode(connected=True)
pd.set_option("max_columns", 50)
pd.set_option('display.max_colwidth', -1)

## Named Entity Extraction from CCN News

### Loading crypto news from postgres database table 'ccn_articles'

In [96]:
engine = create_engine('postgresql://consultant:pgHWR2018@zeno.lehre.hwr-berlin.de:5432/disruptive')
connection = engine.connect()
metadata = MetaData()
stmt = "select * from ccn_articles where date >= '2018-06-11' and date <= '2018-06-24'"
ccn_by_date = pd.read_sql(stmt, connection)
len(ccn_by_date)

195

### Named Entity Recognition with Stanford NER Tagger

In order to proceed we need to download a 3 class model and a jar file from https://nlp.stanford.edu/software/CRF-NER.shtml#Download.

In [202]:
st = StanfordNERTagger('/home/irinakorchagina/Disruptive/stanford-ner-2018-02-27/classifiers/english.all.3class.distsim.crf.ser.gz',
                        '/home/irinakorchagina/Disruptive/stanford-ner-2018-02-27/stanford-ner-3.9.1.jar', encoding='utf-8')

def ner_tagging(content):
    """Tagging each token with 3 class clasifier (Person, Organization, Location)"""
    content = re.sub(r"(Featured Image from)|(Featured image from)|(Images from Shutterstock)|(Featured Images from)|(image from Shutterstock).*$", '', content)
    tokenized = word_tokenize(content)
    tagged = st.tag(tokenized)
    return tagged

def process_text(text):
    """Processing each article. Return a results as a nested list."""
    text_tagged = []
    text_tagged = [ner_tagging(text.iloc[[i],[2]].to_string(index=False, header=False)) for i in range(len(text))]
    return text_tagged

def get_ne(text_tagged):
    """Filtering tokens with tag 'O'"""
    ne_final=[]
    for i in range(len(text_tagged)):
        ne=[]
        for tag, chunk in groupby(text_tagged[i], lambda x:x[1]):
            if tag != "O":
                ne_string = (tag, " ".join(w for w, t in chunk))
                ne.append(ne_string)      
        ne_final.append(ne)
    return ne_final

In [203]:
aticles_ner = process_text(ccn_by_date)
aticles_ner[22:23]

[[('Institutional', 'O'),
  ('cryptocurrency', 'O'),
  ('exchange', 'O'),
  ('and', 'O'),
  ('BitLicense', 'O'),
  ('charter', 'O'),
  ('recipient', 'O'),
  ('itBit', 'O'),
  ('has', 'O'),
  ('announced', 'O'),
  ('that', 'O'),
  ('it', 'O'),
  ('has', 'O'),
  ('received', 'O'),
  ('approval', 'O'),
  ('from', 'O'),
  ('the', 'O'),
  ('New', 'ORGANIZATION'),
  ('York', 'ORGANIZATION'),
  ('Department', 'ORGANIZATION'),
  ('of', 'ORGANIZATION'),
  ('Financial', 'ORGANIZATION'),
  ('Services', 'ORGANIZATION'),
  ('(', 'O'),
  ('NYDFS', 'O'),
  (')', 'O'),
  ('to', 'O'),
  ('list', 'O'),
  ('four', 'O'),
  ('new', 'O'),
  ('cryptocurrencies', 'O'),
  (':', 'O'),
  ('ethereum', 'O'),
  ('(', 'O'),
  ('ETH', 'O'),
  (')', 'O'),
  (',', 'O'),
  ('bitcoin', 'O'),
  ('cash', 'O'),
  ('(', 'O'),
  ('BCH', 'O'),
  (')', 'O'),
  (',', 'O'),
  ('litecoin', 'O'),
  ('(', 'O'),
  ('LTC', 'O'),
  (')', 'O'),
  (',', 'O'),
  ('and', 'O'),
  ('stellar', 'O'),
  ('(', 'O'),
  ('XLM', 'O'),
  (')', 'O'),
  ('.', 'O'),
  ('ItBit', 'O'),
  (',', 'O'),
  ('which', 'O'),
  ('says', 'O'),
  ('it', 'O'),
  ('operates', 'O'),
  ('the', 'O'),
  ('second-largest', 'O'),
  ('US', 'LOCATION'),
  ('bitcoin', 'O'),
  ('trading', 'O'),
  ('platform', 'O'),
  ('by', 'O'),
  ('total', 'O'),
  ('volume', 'O'),
  (',', 'O'),
  ('announced', 'O'),
  ('on', 'O'),
  ('Thursday', 'O'),
  ('that', 'O'),
  ('the', 'O'),
  ('NYDFS', 'O'),
  ('had', 'O'),
  ('approved', 'O'),
  ('its', 'O'),
  ('request', 'O'),
  ('to', 'O'),
  ('list', 'O'),
  ('these', 'O'),
  ('assets', 'O'),
  (',', 'O'),
  ('including', 'O'),
  ('Stellar', 'O'),
  ('’', 'O'),
  ('s', 'O'),
  ('lumens', 'O'),
  ('token', 'O'),
  (',', 'O'),
  ('which', 'O'),
  ('has', 'O'),
  ('not', 'O'),
  ('yet', 'O'),
  ('been', 'O'),
  ('available', 'O'),
  ('on', 'O'),
  ('any', 'O'),
  ('New', 'O'),
  ('York-based', 'O'),
  ('exchange', 'O'),
  ('.', 'O'),
  ('In', 'O'),
  ('addition', 'O'),
  ('to', 'O'),
  ('its', 'O'),
  ('professional', 'O'),
  ('cryptocurrency', 'O'),
  ('exchange', 'O'),
  ('—', 'O'),
  ('which', 'O'),
  ('is', 'O'),
  ('only', 'O'),
  ('available', 'O'),
  ('to', 'O'),
  ('institutions', 'O'),
  ('and', 'O'),
  ('other', 'O'),
  ('high', 'O'),
  ('volume', 'O'),
  ('traders', 'O'),
  ('—', 'O'),
  ('itBit', 'O'),
  ('operates', 'O'),
  ('an', 'O'),
  ('over-the-counter', 'O'),
  ('(', 'O'),
  ('OTC', 'O'),
  (')', 'O'),
  ('trading', 'O'),
  ('desk', 'O'),
  ('and', 'O'),
  ('provides', 'O'),
  ('investors', 'O'),
  ('with', 'O'),
  ('qualified', 'O'),
  ('custodial', 'O'),
  ('services', 'O'),
  ('.', 'O'),
  ('Clients', 'O'),
  ('will', 'O'),
  ('now', 'O'),
  ('have', 'O'),
  ('access', 'O'),
  ('to', 'O'),
  ('ETH', 'ORGANIZATION'),
  (',', 'O'),
  ('BCH', 'ORGANIZATION'),
  (',', 'O'),
  ('LTC', 'ORGANIZATION'),
  (',', 'O'),
  ('and', 'O'),
  ('XLM', 'O'),
  ('across', 'O'),
  ('all', 'O'),
  ('of', 'O'),
  ('those', 'O'),
  ('platforms', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('This', 'O'),
  ('is', 'O'),
  ('an', 'O'),
  ('important', 'O'),
  ('milestone', 'O'),
  ('for', 'O'),
  ('itBit', 'O'),
  ('as', 'O'),
  ('we', 'O'),
  ('create', 'O'),
  ('a', 'O'),
  ('broader', 'O'),
  ('platform', 'O'),
  ('for', 'O'),
  ('crypto', 'O'),
  ('asset', 'O'),
  ('investors', 'O'),
  ('.', 'O'),
  ('We', 'O'),
  ('are', 'O'),
  ('committed', 'O'),
  ('to', 'O'),
  ('the', 'O'),
  ('growth', 'O'),
  ('and', 'O'),
  ('evolution', 'O'),
  ('of', 'O'),
  ('this', 'O'),
  ('ecosystem', 'O'),
  ('and', 'O'),
  ('DFS', 'ORGANIZATION'),
  ('approval', 'O'),
  ('allows', 'O'),
  ('us', 'O'),
  ('to', 'O'),
  ('offer', 'O'),
  ('more', 'O'),
  ('trading', 'O'),
  ('and', 'O'),
  ('custody', 'O'),
  ('services', 'O'),
  ('across', 'O'),
  ('a', 'O'),
  ('wider', 'O'),
  ('range', 'O'),
  ('of', 'O'),
  ('crypto', 'O'),
  ('assets', 'O'),
  (',', 'O'),
  ('”', 'O'),
  ('said', 'O'),
  ('Chad', 'PERSON'),
  ('Cascarilla', 'PERSON'),
  (',', 'O'),
  ('CEO', 'O'),
  ('of', 'O'),
  ('itBit', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('Regulatory', 'O'),
  ('oversight', 'O'),
  ('and', 'O'),
  ('security', 'O'),
  ('have', 'O'),
  ('always', 'O'),
  ('been', 'O'),
  ('at', 'O'),
  ('the', 'O'),
  ('forefront', 'O'),
  ('of', 'O'),
  ('building', 'O'),
  ('our', 'O'),
  ('platform', 'O'),
  ('.', 'O'),
  ('We', 'O'),
  ('are', 'O'),
  ('thrilled', 'O'),
  ('to', 'O'),
  ('be', 'O'),
  ('able', 'O'),
  ('to', 'O'),
  ('offer', 'O'),
  ('these', 'O'),
  ('new', 'O'),
  ('services', 'O'),
  ('to', 'O'),
  ('our', 'O'),
  ('customers.', 'O'),
  ('”', 'O'),
  ('As', 'O'),
  ('CCN', 'ORGANIZATION'),
  ('has', 'O'),
  ('reported', 'O'),
  (',', 'O'),
  ('just', 'O'),
  ('five', 'O'),
  ('companies', 'O'),
  ('have', 'O'),
  ('received', 'O'),
  ('a', 'O'),
  ('BitLicense', 'O'),
  ('from', 'O'),
  ('the', 'O'),
  ('NYDFS', 'O'),
  (',', 'O'),
  ('which', 'O'),
  ('oversees', 'O'),
  ('one', 'O'),
  ('of', 'O'),
  ('the', 'O'),
  ('most', 'O'),
  ('restrictive', 'O'),
  ('cryptocurrency', 'O'),
  ('regulatory', 'O'),
  ('frameworks', 'O'),
  ('in', 'O'),
  ('North', 'LOCATION'),
  ('America', 'LOCATION'),
  ('.', 'O'),
  ('While', 'O'),
  ('itBit', 'O'),
  ('has', 'O'),
  ('not', 'O'),
  ('received', 'O'),
  ('one', 'O'),
  ('of', 'O'),
  ('these', 'O'),
  ('licenses', 'O'),
  (',', 'O'),
  ('it', 'O'),
  ('has', 'O'),
  ('received', 'O'),
  ('approval', 'O'),
  ('to', 'O'),
  ('operate', 'O'),
  ('in', 'O'),
  ('New', 'LOCATION'),
  ('York', 'LOCATION'),
  ('as', 'O'),
  ('a', 'O'),
  ('trust', 'O'),
  ('chartered', 'O'),
  ('company', 'O'),
  ('regulated', 'O'),
  ('by', 'O'),
  ('the', 'O'),
  ('NYDFS', 'O'),
  ('.', 'O'),
  ('The', 'O'),
  ('state', 'O'),
  (',', 'O'),
  ('an', 'O'),
  ('important', 'O'),
  ('hub', 'O'),
  ('for', 'O'),
  ('the', 'O'),
  ('global', 'O'),
  ('financial', 'O'),
  ('sector', 'O'),
  (',', 'O'),
  ('has', 'O'),
  ('been', 'O'),
  ('described', 'O'),
  ('by', 'O'),
  ('cryptocurrency', 'O'),
  ('industry', 'O'),
  ('executives', 'O'),
  ('as', 'O'),
  ('a', 'O'),
  ('“', 'O'),
  ('crypto', 'O'),
  ('backwater', 'O'),
  (',', 'O'),
  ('”', 'O'),
  ('while', 'O'),
  ('Maria', 'PERSON'),
  ('T.', 'PERSON'),
  ('Vallo', 'PERSON'),
  (',', 'O'),
  ('superintendent', 'O'),
  ('of', 'O'),
  ('the', 'O'),
  ('NYDFS', 'O'),
  (',', 'O'),
  ('has', 'O'),
  ('criticized', 'O'),
  ('those', 'O'),
  ('who', 'O'),
  ('favor', 'O'),
  ('reduced', 'O'),
  ('regulation', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('Toddlers', 'O'),
  ('play', 'O'),
  ('in', 'O'),
  ('the', 'O'),
  ('sandbox', 'O'),
  (',', 'O'),
  ('”', 'O'),
  ('she', 'O'),
  ('said', 'O'),
  ('earlier', 'O'),
  ('this', 'O'),
  ('month', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('Adults', 'O'),
  ('play', 'O'),
  ('by', 'O'),
  ('the', 'O'),
  ('rules.', 'O'),
  ('”', 'O'),
  ('Andrew', 'PERSON'),
  ('Chang', 'PERSON'),
  (',', 'O'),
  ('COO', 'O'),
  ('of', 'O'),
  ('itBit', 'O'),
  (',', 'O'),
  ('said', 'O'),
  ('that', 'O'),
  ('gaining', 'O'),
  ('regulatory', 'O'),
  ('approval', 'O'),
  ('to', 'O'),
  ('list', 'O'),
  ('these', 'O'),
  ('four', 'O'),
  ('assets', 'O'),
  ('is', 'O'),
  ('a', 'O'),
  ('“', 'O'),
  ('critical', 'O'),
  ('moment', 'O'),
  ('”', 'O'),
  ('for', 'O'),
  ('enabling', 'O'),
  ('institutional', 'O'),
  ('investors', 'O'),
  ('to', 'O'),
  ('obtain', 'O'),
  ('deeper', 'O'),
  ('exposure', 'O'),
  ('to', 'O'),
  ('the', 'O'),
  ('cryptocurrency', 'O'),
  ('markets', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('By', 'O'),
  ('gaining', 'O'),
  ('this', 'O'),
  ('regulatory', 'O'),
  ('approval', 'O'),
  (',', 'O'),
  ('we', 'O'),
  ('are', 'O'),
  ('now', 'O'),
  ('able', 'O'),
  ('to', 'O'),
  ('open', 'O'),
  ('the', 'O'),
  ('doors', 'O'),
  ('for', 'O'),
  ('individuals', 'O'),
  ('and', 'O'),
  ('institutions', 'O'),
  ('to', 'O'),
  ('access', 'O'),
  ('crypto', 'O'),
  ('assets', 'O'),
  ('beyond', 'O'),
  ('just', 'O'),
  ('Bitcoin', 'PERSON'),
  (',', 'O'),
  ('”', 'O'),
  ('he', 'O'),
  ('said', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('This', 'O'),
  ('is', 'O'),
  ('a', 'O'),
  ('critical', 'O'),
  ('moment', 'O'),
  ('that', 'O'),
  ('will', 'O'),
  ('enable', 'O'),
  ('greater', 'O'),
  ('participation', 'O'),
  ('in', 'O'),
  ('these', 'O'),
  ('assets', 'O'),
  ('in', 'O'),
  ('a', 'O'),
  ('regulated', 'O'),
  ('and', 'O'),
  ('safe', 'O'),
  ('manner.', 'O'),
  ('”', 'O'),
  ('Many', 'O'),
  ('cryptocurrency', 'O'),
  ('analysts', 'O'),
  ('have', 'O'),
  ('predicted', 'O'),
  ('that', 'O'),
  ('increased', 'O'),
  ('interest', 'O'),
  ('from', 'O'),
  ('institutional', 'O'),
  ('investors', 'O'),
  ('will', 'O'),
  ('fuel', 'O'),
  ('the', 'O'),
  ('market', 'O'),
  ('’', 'O'),
  ('s', 'O'),
  ('next', 'O'),
  ('bull', 'O'),
  ('run', 'O'),
  ('.', 'O'),
  ('However', 'O'),
  (',', 'O'),
  ('institutions', 'O'),
  ('have', 'O'),
  ('yet', 'O'),
  ('to', 'O'),
  ('make', 'O'),
  ('meaningful', 'O'),
  ('investments', 'O'),
  ('in', 'O'),
  ('the', 'O'),
  ('space', 'O'),
  (',', 'O'),
  ('and', 'O'),
  ('the', 'O'),
  ('bitcoin', 'O'),
  ('price', 'O'),
  ('has', 'O'),
  ('trended', 'O'),
  ('down', 'O'),
  ('throughout', 'O'),
  ('the', 'O'),
  ('year', 'O'),
  ('.', 'O'),
  ('ItBit', 'O'),
  ('’', 'O'),
  ('s', 'O'),
  ('Cascarilla', 'PERSON'),
  ('told', 'O'),
  ('CCN', 'ORGANIZATION'),
  ('in', 'O'),
  ('an', 'O'),
  ('email', 'O'),
  ('interview', 'O'),
  ('that', 'O'),
  ('the', 'O'),
  ('cryptocurrency', 'O'),
  ('industry', 'O'),
  ('needs', 'O'),
  ('to', 'O'),
  ('provide', 'O'),
  ('institutions', 'O'),
  ('with', 'O'),
  ('“', 'O'),
  ('more', 'O'),
  ('reliability', 'O'),
  ('”', 'O'),
  ('to', 'O'),
  ('attract', 'O'),
  ('institutional', 'O'),
  ('capital', 'O'),
  ('into', 'O'),
  ('the', 'O'),
  ('ecosystem', 'O'),
  ('.', 'O'),
  ('“', 'O'),
  ('The', 'O'),
  ('crypto', 'O'),
  ('space', 'O'),
  ('needs', 'O'),
  ('to', 'O'),
  ('offer', 'O'),
  ('more', 'O'),
  ('reliability', 'O'),
  ('(', 'O'),
  ('safety', 'O'),
  (',', 'O'),
  ('connectivity', 'O'),
  ('and', 'O'),
  ('regulated', 'O'),
  ('status', 'O'),
  (')', 'O'),
  (',', 'O'),
  ('products', 'O'),
  ('(', 'O'),
  ('new', 'O'),
  ('assets', 'O'),
  (',', 'O'),
  ('collateral', 'O'),
  ('services', 'O'),
  (')', 'O'),
  ('and', 'O'),
  ('features', 'O'),
  ('(', 'O'),
  ('more', 'O'),
  ('order', 'O'),
  ('types', 'O'),
  (',', 'O'),
  ('etc', 'O'),
  (')', 'O'),
  (',', 'O'),
  ('”', 'O'),
  ('he', 'O'),
  ('said', 'O'),
  ('.', 'O'),
  ('Update', 'O'),
  ('614', 'O'),
  (':', 'O'),
  ('A', 'O'),
  ('previous', 'O'),
  ('version', 'O'),
  ('of', 'O'),
  ('this', 'O'),
  ('article', 'O'),
  ('incorrectly', 'O'),
  ('stated', 'O'),
  ('that', 'O'),
  ('itBit', 'O'),
  ('has', 'O'),
  ('a', 'O'),
  ('full', 'O'),
  ('BitLicense', 'O'),
  ('.', 'O'),
  ('It', 'O'),
  ('has', 'O'),
  ('been', 'O'),
  ('updated', 'O'),
  ('to', 'O'),
  ('reflect', 'O'),
  ('that', 'O'),
  ('the', 'O'),
  ('firm', 'O'),
  ('is', 'O'),
  ('a', 'O'),
  ('“', 'O'),
  ('trust', 'O'),
  ('chartered', 'O'),
  ('company', 'O'),
  ('regulate', 'O'),
  ('by', 'O'),
  ('the', 'O'),
  ('NYDFS', 'O'),
  ('”', 'O'),
  ('under', 'O'),
  ('the', 'O'),
  ('BitLicense', 'O'),
  ('framework', 'O'),
  ('.', 'O'),
  ('\\r\\n', 'O')]]

In [204]:
tagged_ccn = get_ne(aticles_ner)
tagged_ccn[22:23]

[[('ORGANIZATION', 'New York Department of Financial Services'),
  ('LOCATION', 'US'),
  ('ORGANIZATION', 'ETH'),
  ('ORGANIZATION', 'BCH'),
  ('ORGANIZATION', 'LTC'),
  ('ORGANIZATION', 'DFS'),
  ('PERSON', 'Chad Cascarilla'),
  ('ORGANIZATION', 'CCN'),
  ('LOCATION', 'North America'),
  ('LOCATION', 'New York'),
  ('PERSON', 'Maria T. Vallo'),
  ('PERSON', 'Andrew Chang'),
  ('PERSON', 'Bitcoin'),
  ('PERSON', 'Cascarilla'),
  ('ORGANIZATION', 'CCN')]]

### Removing wrongly classified entities

There are many cryptocurrency names which were tagged as a class 'Organization'. In order to removes it, let's load all cryptocurrency names and their abbreviations from the database.

In [205]:
# Loading data from 'cryptocurrency_names' table
stmt_coins = "select * from cryptocurrency_names"
abb_to_del = pd.read_sql(stmt_coins, connection, index_col=None)
abb_to_delete = abb_to_del['Name'].values.tolist()
# Adding additional entities to delete from NE table
add_del = ['CCN', 'ICO', 'ICOs', 'Lightning Network', 'Blockchain', 'blockchain']
abb_to_delete.extend(add_del)
len(abb_to_delete)

3178

In [206]:
def delete_tags(text_tagged):
    """Delete a tuple if entity is found in a list 'abb_to_delete' """
    final=[]
    for i in range(len(text_tagged)):
        out_tup = [j for j in text_tagged[i] if j[1] not in set(abb_to_delete)]      
        final.append(out_tup)
    return final

In [207]:
tagged_ccn_clean = delete_tags(tagged_ccn)
tagged_ccn_clean[22:23]

[[('ORGANIZATION', 'New York Department of Financial Services'),
  ('LOCATION', 'US'),
  ('ORGANIZATION', 'DFS'),
  ('PERSON', 'Chad Cascarilla'),
  ('LOCATION', 'North America'),
  ('LOCATION', 'New York'),
  ('PERSON', 'Maria T. Vallo'),
  ('PERSON', 'Andrew Chang'),
  ('PERSON', 'Cascarilla')]]

In [137]:
# Total number of entities
count=0
for i in range(len(tagged_ccn)):
    count=count+len(tagged_ccn[i])
print(count)

3199

In [138]:
# Number of entities after removal words in a list 'abb_to_delete'
count_=0
for i in range(len(tagged_ccn_clean)):
    count_=count_+len(tagged_ccn_clean[i])
print(count_)

2786

### Creating the aggregated NE table

There are two possible how can we aggredate our results:
1. Count number of occurrences per article. For example, if in one article Bloomberg appeared 5 times, count it as 1. 
2. Simply count number of entity occurrences in all articles
For consistency we will use the second option in a dashboard.

In [208]:
def create_ner_table(test_df):
    """Creating a dataframe with location, org, person, document number and entity columns"""
    df = pd.DataFrame(columns=['doc_num', 'entity', 'PERSON', 'LOCATION', 'ORGANIZATION'])
    for i in range(len(test_df)): 
        df_temp = pd.DataFrame()
        if len(test_df[i]) !=0:
            for j in range(len(test_df[i])): 
                tag, token = test_df[i][j] 
                if tag == 'PERSON':
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 1, 'LOCATION': 0, 'ORGANIZATION': 0}]
                elif tag == 'LOCATION':
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 0,'LOCATION': 1, 'ORGANIZATION': 0}]
                else:
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 0,'LOCATION': 0, 'ORGANIZATION': 1}]
                df_temp = df_temp.append(token_df, ignore_index=True)
            df_temp = df_temp.groupby(['entity', 'doc_num'], as_index=False)['LOCATION', 'ORGANIZATION', 'PERSON'].sum()   
            df = df.append(df_temp, ignore_index=True)
    return df

In [209]:
df = create_ner_table(tagged_ccn_clean)
df.head(10)

  LOCATION ORGANIZATION PERSON doc_num                   entity
0  1        1            2      0       Coinbase
1  0        0            1      0       DiDi
2  1        0            0      0       San Francisco
3  1        0            0      1       D.C.
4  0        1            0      1       Heritage Foundation
5  0        0            7      1       Johnson
6  0        0            1      1       Jonathan Johnson
7  0        1            0      1       Medici Ventures
8  0        4            2      1       Overstock
9  0        1            0      1       Twitter CEO Jack Dorsey

In [210]:
# Aggregating organizations by number of occurrences per article
df_num_doc = df.copy()
df_num_doc.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_num_doc= df_num_doc.query('ORGANIZATION != 0')
df_agg_num_doc = df_num_doc.groupby(['entity'], as_index=False).agg({'doc_num': "count"}).rename(columns={'entity':'Organization','doc_num':'Number'})
df_agg_num_doc = df_agg_num_doc.sort_values(by='Number', ascending=False)
df_agg_num_doc = df_agg_num_doc.reset_index(drop=True)
df_agg_num_doc[0:5]

    Organization  Number
0  SEC            19
1  Bloomberg      16
2  Goldman Sachs  13
3  CNBC           11
4  Facebook       7

In [211]:
# Aggregating organizations by sum of occurrences in articles
df_agg_count_ccn = df.copy()
df_agg_count_ccn.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_agg_count_ccn= df_agg_count_ccn.query('ORGANIZATION != 0')
df_agg_count_ccn = df_agg_count_ccn.groupby(['entity'], as_index=False).agg({'ORGANIZATION': "sum"}).rename(columns={'entity':'Organization','ORGANIZATION':'Sum'})
df_agg_count_ccn = df_agg_count_ccn.sort_values(by='Sum', ascending=False)
df_agg_count_ccn = df_agg_count_ccn.reset_index(drop=True)
df_agg_count_ccn[0:5]

    Organization  Sum
0  SEC            71
1  Goldman Sachs  19
2  Bloomberg      17
3  CFTC           15
4  Facebook       14

In [212]:
# Aggregating people by sum of occurrences in articles
df_agg_people = df.groupby(['entity'], as_index=False).agg({'PERSON': "sum"})
df_agg_people = df_agg_people.sort_values(by='PERSON', ascending=False)
df_agg_people = df_agg_people.reset_index(drop=True)
df_agg_people[0:5]

      entity  PERSON
0  Bithumb    24
1  Ulbricht   16
2  Petersen   14
3  Blankfein  14
4  Hinman     12

In [216]:
# Aggregating locations by sum of occurrences in articles
df_agg_location = df.groupby(['entity'], as_index=False).agg({'LOCATION': "sum"})
df_agg_location = df_agg_location.sort_values(by='LOCATION', ascending=False)
df_agg_location = df_agg_location.reset_index(drop=True)
df_agg_location[0:5]

        entity  LOCATION
0  US           75
1  South Korea  47
2  Japan        38
3  New York     36
4  China        32

In [10]:
# save df_agg_count_ccn to pickle file
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_agg_count_ccn.pkl', 'wb') as f:
    pickle.dump(df_agg_count_ccn, f)

In [2]:
# load df_agg_count_ccn from pickle file
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_agg_count_ccn.pkl', 'rb') as f:
    df_agg_count_ccn = pickle.load(f)

## Named Entity Extraction from Twitter

### Loading Twitter data from Postgres database

In [231]:
engine = create_engine('postgresql://consultant:pgHWR2018@zeno.lehre.hwr-berlin.de:5432/disruptive')
connection = engine.connect()
stmt_tweet = "select text from twitter3 where text ~* '(btc|#eth|ether|bitcoin|ethereum)' \
                and tweet_created between '2018-06-18 00:00:00' and '2018-06-24 23:59:59'"
tweets = pd.read_sql(stmt_tweet, connection, index_col=None)

list_of_tweets = tweets.text.tolist()
# list_of_tweets = [re.sub(r"#|@", '', tweet) for tweet in list_of_tweets]
# list_of_tweets = [re.sub(r"\n+|@", ' ', tweet) for tweet in list_of_tweets]
print(len(list_of_tweets))

## Concatenate all tweets
tweets_all = tweets['text'].str.cat(sep=', ')
# tweets_all = re.sub(r"#|@", '', tweets_all)

189513

In [232]:
# ETH tweets
eth_tweets = [tweet for tweet in list_of_tweets if \
              len(re.findall(r"(ethereum|Ethereum|ETH|ETC|Ethereum Classic|EthereumClassic|ether|eth)", tweet)) > 0]
len(eth_tweets)

59121

In [233]:
# BTC tweets
btc_tweets = [tweet for tweet in list_of_tweets if \
              len(re.findall(r"(bitcoin|Bitcoin|BTC|BitCoin|bitCoin|BitcoinClassic|Bitcoin Classic|bitcoinclassic|bitcoinClassic|XBT)", tweet)) > 0]
len(btc_tweets)

148015

### Stanford CoreNLP caseless classifier vs Stanford CoreNLP standart classifier vs NLTK

Standart NER classifier worked well for CCN articles because its well-edited text. But it won't give us good results on social media data. One of the reason is unreliable word capitalization.
Next we will see the advantages of applying a caseless classifier for Twitter data.

In [90]:
from nltk import word_tokenize, pos_tag, ne_chunk
from nltk.chunk import conlltags2tree, tree2conlltags
sentence = "Why do tech companies like apple or microsoft feel the need to update…"
ne_tree = ne_chunk(pos_tag(word_tokenize(sentence)))
iob_tagged = tree2conlltags(ne_tree)
print(iob_tagged)

[('Why', 'WRB', 'O'), ('do', 'VBP', 'O'), ('tech', 'VB', 'O'), ('companies', 'NNS', 'O'), ('like', 'IN', 'O'), ('apple', 'NN', 'O'), ('or', 'CC', 'O'), ('microsoft', 'JJ', 'O'), ('feel', 'VB', 'O'), ('the', 'DT', 'O'), ('need', 'NN', 'O'), ('to', 'TO', 'O'), ('update…', 'VB', 'O')]

In [217]:
print(st.tag('Why do tech companies like apple or microsoft feel the need to update…'.split()))

[('Why', 'O'), ('do', 'O'), ('tech', 'O'), ('companies', 'O'), ('like', 'O'), ('apple', 'O'), ('or', 'O'), ('microsoft', 'O'), ('feel', 'O'), ('the', 'O'), ('need', 'O'), ('to', 'O'), ('update…', 'O')]

In [62]:
caseless_tagger = StanfordNERTagger('/home/irinakorchagina/Disruptive/CoreNLP_3_05/stanford-ner-2015-04-20/classifiers/english.all.3class.caseless.distsim.crf.ser.gz', 
                                      '/home/irinakorchagina/Disruptive/CoreNLP_3_05/stanford-ner-2015-04-20/stanford-ner.jar', encoding='utf-8')

In [218]:
print(caseless_tagger.tag('Why do tech companies like apple or microsoft feel the need to update…'.split()))

[('Why', 'O'), ('do', 'O'), ('tech', 'O'), ('companies', 'O'), ('like', 'O'), ('apple', 'ORGANIZATION'), ('or', 'O'), ('microsoft', 'ORGANIZATION'), ('feel', 'O'), ('the', 'O'), ('need', 'O'), ('to', 'O'), ('update…', 'O')]

### Named Entity Recognition with Stanford CoreNLP caseless classifier

Stanford CoreNLP classifiers is quite slow and requires much more resources comparing to the NLTK. To tag one tweet takes around 2 seconds on Zeno server. But these two seconds are mostly taken by loading the model itself. So, as solution tweets were concatenated in several chunks of 20.000 tweets. 
For a week from 18.06 to 24.06.18 there were around 200.000 tweets. So, it will be 10 batches to process all of them.

In [224]:
# Stanford tagger on one tweet
% time res = tag_tweets_caseless(list_of_tweets[0])

CPU times: user 8 ms, sys: 172 ms, total: 180 ms
Wall time: 1.98 s

In [234]:
def tag_tweets_caseless(content):
    """Tagging each word with 3 class caseless clasifier (Person, Organization, Location)"""
    tokenized = word_tokenize(content)
    tagged = caseless_tagger.tag(tokenized)
    return tagged

In [235]:
# Tweets (BTC & ETH) tagging
split_both = round(len(list_of_tweets)/20000)
data_split_both = np.array_split(list_of_tweets, split_both)
tweet_taged_both_all = []
for i in range(len(data_split_both)):
    both_tweets_str = ''.join(data_split_both[i])
    tweet_taged_both_split = tag_tweets_caseless(both_tweets_str)
    tweet_taged_both_all.append(tweet_taged_both_split)
tweet_taged_all = [item for sublist in tweet_taged_both_all for item in sublist]

In [237]:
# Tweets (BTC) tagging
split_btc = round(len(btc_tweets)/20000)
data_split_btc = np.array_split(btc_tweets, split_btc)
tweet_taged_btc_all = []
for i in range(len(data_split_btc)):
    btc_tweets_str = ''.join(data_split_btc[i])
    tweet_taged_btc_split = tag_tweets_caseless(btc_tweets_str)
    tweet_taged_btc_all.append(tweet_taged_btc_split)
tweet_taged_btc = [item for sublist in tweet_taged_btc_all for item in sublist]

In [238]:
# Tweets (ETH) tagging
split_eth = round(len(eth_tweets)/20000)
data_split_eth = np.array_split(eth_tweets, split_eth)
tweet_taged_eth_all = []
for i in range(len(data_split_eth)):
    eth_tweets_str = ''.join(data_split_eth[i])
    tweet_taged_eth_split = tag_tweets_caseless(eth_tweets_str)
    tweet_taged_eth_all.append(tweet_taged_eth_split)
tweet_taged_eth = [item for sublist in tweet_taged_eth_all for item in sublist]

In [301]:
## For small amount of data, it's possible to run this chunk of code istead of three chunks of code above.
# Tweets (BTC and ETH) NE tagging
tweet_taged_all = tag_tweets_caseless(tweets_all)
# Tweets (BTC) NE tagging
tweet_taged_btc = tag_tweets_caseless(btc_tweets_str)
# Tweets (ETH) NE tagging
tweet_taged_eth = tag_tweets_caseless(eth_tweets_str)

### Removing wrongly classified entities

In [239]:
# Loading data from 'cryptocurrency_names' table
stmt_coins = "select * from cryptocurrency_names"
abb_to_del = pd.read_sql(stmt_coins, connection, index_col=None)
abb_to_delete = abb_to_del['Name'].values.tolist()
# Adding additional entities to delete from NE table
abb_to_delete_twitter_lower = [x.lower() for x in abb_to_delete]
abb_to_delete_twitter_upper = [x.upper() for x in abb_to_delete]
add_del_twitter = ['CCN', 'ICO', 'ICOs', 'ico', 'Ico', 'Lightning Network', 'Blockchain', 'crypto', 'CRYPTO', 'satoshi', 'Satoshi', ]
abb_to_delete_twitter.extend(add_del_twitter)
abb_to_delete_twitter.extend(abb_to_delete_twitter_lower)
abb_to_delete_twitter.extend(abb_to_delete_twitter_upper)

In [240]:
def delete_tags_str(text_tagged):
    """Delete a tuple if entity is found in a list 'abb_to_delete_twitter' """
    final=[]
    for i in range(len(text_tagged)): #23000
        out_tup = [(j) for j in text_tagged[i] if j[1] not in set(abb_to_delete_twitter)]      
        final.append(out_tup)
    return final

### Processing extracted entities

In [244]:
def get_ne_str(text_tagged):
    """Filtering tokens with tag 'O'"""
    ne=[]
    for tag, chunk in groupby(text_tagged, lambda x:x[1]):
        if tag != "O":
            ne_string = (tag, " ".join(w for w, t in chunk))
            ne.append(ne_string)      
    return ne

In [242]:
def create_ner_table_str(test_df):
    """Creating a dataframe with location, organization, person and entity columns"""
    df = pd.DataFrame(columns=['doc_num', 'entity', 'PERSON', 'LOCATION', 'ORGANIZATION'])
    for i in range(len(test_df)): # 353
        df_temp = pd.DataFrame()
        if len(test_df[i]) !=0:
            for j in range(len(test_df[i])): 
                tag, token = test_df[i][j] 
                if tag == 'PERSON':
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 1, 'LOCATION': 0, 'ORGANIZATION': 0}]
                elif tag == 'LOCATION':
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 0,'LOCATION': 1, 'ORGANIZATION': 0}]
                else:
                    token_df = [{'doc_num': i, 'entity': token, 'PERSON': 0,'LOCATION': 0, 'ORGANIZATION': 1}]
                df_temp = df_temp.append(token_df, ignore_index=True)
            df_temp = df_temp.groupby(['entity', 'doc_num'], as_index=False)['LOCATION', 'ORGANIZATION', 'PERSON'].sum()   
            df = df.append(df_temp, ignore_index=True)
    df['entity'] = df['entity'].map(lambda x: x.lower())
    df['entity'] = df.entity.str.capitalize()
    return df

In [243]:
# All tweets
tagged_tweets = [get_ne_str(tweet_taged_all)]
tagged_tweets_clean = delete_tags_str(tagged_tweets)
df_tweet = create_ner_table_str(tagged_tweets_clean)

In [245]:
# BTC tweets
tagged_tweets_btc = [get_ne_str(tweet_taged_btc)]
tagged_tweets_btc_clean = delete_tags_str(tagged_tweets_btc)
df_tweet_btc = create_ner_table_str(tagged_tweets_btc_clean)

In [246]:
# ETH tweets
tagged_tweets_eth = [get_ne_str(tweet_taged_eth)]
tagged_tweets_eth_clean = delete_tags_str(tagged_tweets_eth)
df_tweet_eth = create_ner_table_str(tagged_tweets_eth_clean)

### Creating the aggregated NE table

#### All tweets

In [247]:
# Aggregation by organization name (all tweets)
df_tweet_num_doc = df_tweet.copy()
df_tweet_num_doc.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_tweet_num_doc= df_tweet_num_doc.query('ORGANIZATION != 0')
df_tweet_agg_sum = df_tweet_num_doc.groupby(['entity'], as_index=False).agg({'ORGANIZATION': "sum"}).rename(columns={'entity':'Organization','ORGANIZATION':'Number'})
df_tweet_agg_sum = df_tweet_agg_sum.sort_values(by='Number', ascending=False)
df_tweet_agg_sum = df_tweet_agg_sum.reset_index(drop=True)
df_tweet_agg_sum[0:5]

      Organization  Number
0  Aoa              1233
1  Sec              790
2  Crypto exchange  646
3  Youtube          595
4  Rsi              585

In [248]:
# Aggregation by person entity (all tweets)
df_tweet_pep = df_tweet.copy()
df_tweet_pep.drop(columns=['LOCATION','ORGANIZATION'], axis=1, inplace=True)
df_tweet_pep= df_tweet_pep.query('PERSON != 0')
df_tweet_pep_agg = df_tweet_pep.groupby(['entity'], as_index=False).agg({'PERSON': 'sum'}).rename(columns={'entity':'Person','PERSON':'Number'})
df_tweet_pep_agg = df_tweet_pep_agg.sort_values(by='Number', ascending=False)
df_tweet_pep_agg = df_tweet_pep_agg.reset_index(drop=True)
df_tweet_pep_agg[0:5]

            Person  Number
0  Charlie lee      495
1  Cyclean          438
2  Alexis bledel    425
3  Don              329
4  Lloyd blankfein  266

#### BTC tweets

In [249]:
# Aggregation by organization name (BTC tweets)
df_tweet_num_btc = df_tweet_btc.copy()
df_tweet_num_btc.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_tweet_num_btc= df_tweet_num_btc.query('ORGANIZATION != 0')
df_tweet_btc_agg_sum = df_tweet_num_btc.groupby(['entity'], as_index=False).agg({'ORGANIZATION': "sum"}).rename(columns={'entity':'Organization','ORGANIZATION':'Number'})
df_tweet_btc_agg_sum = df_tweet_btc_agg_sum.sort_values(by='Number', ascending=False)
df_tweet_btc_agg_sum = df_tweet_btc_agg_sum.reset_index(drop=True)
df_tweet_btc_agg_sum[0:5]

      Organization  Number
0  Aoa              1232
1  Crypto exchange  616
2  Rsi              573
3  Fiat             539
4  Youtube          479

In [250]:
# Aggregation by person entity (BTC tweets)
df_tweet_pep_btc = df_tweet_btc.copy()
df_tweet_pep_btc.drop(columns=['LOCATION','ORGANIZATION'], axis=1, inplace=True)
df_tweet_pep_btc= df_tweet_pep_btc.query('PERSON != 0')
df_tweet_pep_btc_agg = df_tweet_pep_btc.groupby(['entity'], as_index=False).agg({'PERSON': 'sum'}).rename(columns={'entity':'Person','PERSON':'Number'})
df_tweet_pep_btc_agg = df_tweet_pep_btc_agg.sort_values(by='Number', ascending=False)
df_tweet_pep_btc_agg = df_tweet_pep_btc_agg.reset_index(drop=True)
df_tweet_pep_btc_agg[0:5]

             Person  Number
0  Charlie lee       492
1  Alexis bledel     425
2  Lloyd blankfein   266
3  Brian kelly       180
4  Satoshi nakamoto  173

#### ETH tweets

In [251]:
# Aggregation by organization name (ETH tweets)
df_tweet_num_eth = df_tweet_eth.copy()
df_tweet_num_eth.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_tweet_num_eth= df_tweet_num_eth.query('ORGANIZATION != 0')
df_tweet_eth_agg_sum = df_tweet_num_eth.groupby(['entity'], as_index=False).agg({'ORGANIZATION': "sum"}).rename(columns={'entity':'Organization','ORGANIZATION':'Number'})
df_tweet_eth_agg_sum = df_tweet_eth_agg_sum.sort_values(by='Number', ascending=False)
df_tweet_eth_agg_sum = df_tweet_eth_agg_sum.reset_index(drop=True)
df_tweet_eth_agg_sum[0:5]

      Organization  Number
0  Aoa              1229
1  Sec              373
2  Inco             256
3  Bulls            247
4  Crypto exchange  181

In [252]:
# Aggregation by person entity (ETH tweets)
df_tweet_pep_eth = df_tweet_eth.copy()
df_tweet_pep_eth.drop(columns=['LOCATION','ORGANIZATION'], axis=1, inplace=True)
df_tweet_pep_eth= df_tweet_pep_eth.query('PERSON != 0')
df_tweet_pep_eth_agg = df_tweet_pep_eth.groupby(['entity'], as_index=False).agg({'PERSON': 'sum'}).rename(columns={'entity':'Person','PERSON':'Number'})
df_tweet_pep_eth_agg = df_tweet_pep_eth_agg.sort_values(by='Number', ascending=False)
df_tweet_pep_eth_agg = df_tweet_pep_eth_agg.reset_index(drop=True)
df_tweet_pep_eth_agg[0:5]

    Person  Number
0  Cyclean  438
1  Toshi    198
2  Don      162
3  Zingo    119
4  Binance  98

In [253]:
# Save all results into pickle files for presentation
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_agg_sum.pkl', 'wb') as f:
    pickle.dump(df_tweet_agg_sum, f)

with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_pep_agg.pkl', 'wb') as f:
    pickle.dump(df_tweet_pep_agg, f)
    
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_btc_agg_sum.pkl', 'wb') as f:
    pickle.dump(df_tweet_btc_agg_sum, f)
    
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_pep_btc_agg.pkl', 'wb') as f:
    pickle.dump(df_tweet_pep_btc_agg, f)

with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_eth_agg_sum.pkl', 'wb') as f:
    pickle.dump(df_tweet_eth_agg_sum, f)
    
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_tweet_pep_eth_agg.pkl', 'wb') as f:
    pickle.dump(df_tweet_pep_eth_agg, f)

## Named Entity Extraction from Reddit

### Reddit BTC

In [254]:
engine = create_engine('postgresql://consultant:pgHWR2018@zeno.lehre.hwr-berlin.de:5432/disruptive')
connection = engine.connect()
stmt_btc_reddit = "select distinct title from btc_reddit"
btc_reddit = pd.read_sql(stmt_btc_reddit, connection)
reddit_btc = btc_reddit['title'].str.cat(sep=', ')
len(reddit_btc)

57592

In [255]:
# Extract entities from reddit btc
reddit_tag_btc = tag_tweets_caseless(reddit_btc)
reddit_btc_ne = [get_ne_str(reddit_tag_btc)]

In [256]:
reddit_btc_ne_clean = delete_tags_str(reddit_btc_ne)
df_btc_reddit = create_ner_table_str(reddit_btc_ne_clean)

In [257]:
# Aggregation by organization entity (BTC reddit)
df_btc_reddit_org = df_btc_reddit.copy()
df_btc_reddit_org.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_btc_reddit_org= df_btc_reddit_org.query('ORGANIZATION != 0')
df_btc_reddit_org_agg = df_btc_reddit_org.groupby(['entity'], as_index=False).agg({'ORGANIZATION': 'sum'}).rename(columns={'entity':'Organization','ORGANIZATION':'Number'})
df_btc_reddit_org_agg = df_btc_reddit_org_agg.sort_values(by='Number', ascending=False)
df_btc_reddit_org_agg = df_btc_reddit_org_agg.reset_index(drop=True)
df_btc_reddit_org_agg[0:5]

    Organization  Number
0  Sec            9
1  Cnbc           5
2  Fiat           4
3  Google         3
4  Goldman sachs  3

In [258]:
# Aggregation by person entity (BTC reddit)
df_btc_reddit_pep = df_btc_reddit.copy()
df_btc_reddit_pep.drop(columns=['LOCATION','ORGANIZATION'], axis=1, inplace=True)
df_btc_reddit_pep= df_btc_reddit_pep.query('PERSON != 0')
df_btc_reddit_pep_agg = df_btc_reddit_pep.groupby(['entity'], as_index=False).agg({'PERSON': 'sum'}).rename(columns={'entity':'Person','PERSON':'Number'})
df_btc_reddit_pep_agg = df_btc_reddit_pep_agg.sort_values(by='Number', ascending=False)
df_btc_reddit_pep_agg = df_btc_reddit_pep_agg.reset_index(drop=True)
df_btc_reddit_pep_agg[0:5]

            Person  Number
0  Brian kelly      9
1  Jack ma          8
2  William shatner  4
3  Steve bannon     4
4  Roger            4

In [259]:
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_btc_reddit_pep_agg.pkl', 'wb') as f:
    pickle.dump(df_btc_reddit_pep_agg, f)
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_btc_reddit_org_agg.pkl', 'wb') as f:
    pickle.dump(df_btc_reddit_org_agg, f)

## Reddit ETH

In [260]:
# Load all ETH reddit post 
stmt_eth_reddit = "select distinct title from eth_reddit"
eth_reddit = pd.read_sql(stmt_eth_reddit, connection)
eth_reddit = eth_reddit['title'].str.cat(sep=', ')
len(eth_reddit)

27614

In [261]:
# Extract entities from reddit eth
reddit_eth = tag_tweets_caseless(eth_reddit)
reddit_eth_ne = [get_ne_str(reddit_eth)]

In [262]:
reddit_eth_ne_clean = delete_tags_str(reddit_eth_ne)
df_eth_reddit = create_ner_table_str(reddit_eth_ne_clean)

In [263]:
# Aggregation by organization entity (ETH reddit)
df_eth_reddit_org = df_eth_reddit.copy()
df_eth_reddit_org.drop(columns=['LOCATION','PERSON'], axis=1, inplace=True)
df_eth_reddit_org= df_eth_reddit_org.query('ORGANIZATION != 0')
df_eth_reddit_org_agg = df_eth_reddit_org.groupby(['entity'], as_index=False).agg({'ORGANIZATION': 'sum'}).rename(columns={'entity':'Organization','ORGANIZATION':'Number'})
df_eth_reddit_org_agg = df_eth_reddit_org_agg.sort_values(by='Number', ascending=False)
df_eth_reddit_org_agg = df_eth_reddit_org_agg.reset_index(drop=True)
df_eth_reddit_org_agg[0:5]

               Organization  Number
0  Sec                       10
1  Fbi                       4
2  Stanford university dapp  3
3  Radex                     3
4  Sacramento kings          3

In [264]:
# Aggregation by person entity (ETH reddit)
df_eth_reddit_pep = df_eth_reddit.copy()
df_eth_reddit_pep.drop(columns=['LOCATION','ORGANIZATION'], axis=1, inplace=True)
df_eth_reddit_pep= df_eth_reddit_pep.query('PERSON != 0')
df_eth_reddit_pep_agg = df_eth_reddit_pep.groupby(['entity'], as_index=False).agg({'PERSON': 'sum'}).rename(columns={'entity':'Person','PERSON':'Number'})
df_eth_reddit_pep_agg = df_eth_reddit_pep_agg.sort_values(by='Number', ascending=False)
df_eth_reddit_pep_agg = df_eth_reddit_pep_agg.reset_index(drop=True)
df_eth_reddit_pep_agg[0:5]

           Person  Number
0  Brian kelly     3
1  Vitalik         2
2  Bittrex         2
3  Edward snowden  2
4  Alexa           1

In [20]:
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_eth_reddit_pep_agg.pkl', 'wb') as f:
    pickle.dump(df_eth_reddit_pep_agg, f)
with open('/home/irinakorchagina/Disruptive/Pickle_dash/df_eth_reddit_org_agg.pkl', 'wb') as f:
    pickle.dump(df_eth_reddit_org_agg, f)

## Visualizations
### Which organizations and people are currently mentioned in the News and Social Media with respect to Bitcoin and Ethereum?

### Organizations

In [266]:
%matplotlib inline
figure = {'data':[
        go.Bar(
        x = df_tweet_agg_sum['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_agg_sum['Organization'].head(15).sort_index(ascending=False),
        name = "Twitter (BTC & ETH)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_tweet_btc_agg_sum['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_btc_agg_sum['Organization'].head(15).sort_index(ascending=False),
        name = "Twitter (BTC)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_tweet_eth_agg_sum['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_eth_agg_sum['Organization'].head(15).sort_index(ascending=False),
        name = "Twitter (ETH)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_btc_reddit_org_agg['Number'].head(5).sort_index(ascending=False),
        y = df_btc_reddit_org_agg['Organization'].head(5).sort_index(ascending=False),
        name = "Reddit (BTC)",
        visible=True,
        orientation = 'h',            
        marker=dict(
        color='rgb(231, 60, 0)')     
        ),
        go.Bar(
        x = df_eth_reddit_org_agg['Number'].head(5).sort_index(ascending=False),
        y = df_eth_reddit_org_agg['Organization'].head(5).sort_index(ascending=False),
        name = "Reddit (ETH)",
        visible=True,
        orientation = 'h',            
        marker=dict(
        color='rgb(231, 60, 0)')
        ),
        go.Bar(
        x = df_agg_count_ccn['Sum'].head(15).sort_index(ascending=False),
        y = df_agg_count_ccn['Organization'].head(15).sort_index(ascending=False),
        name = "CCN news",
        visible=True,
        orientation = 'h',
        marker=dict(
        color='rgb(231, 118, 0)')    
        ),

],
        'layout':go.Layout(title = 'TOP organizations on Twitter, Reddit & CCN news', showlegend=True,
                            updatemenus = list([
                                dict(active=-1,
                                     buttons=list([
                                        dict(label = 'Twitter (BTC & ETH)',
                                             method = 'update',
                                             args = [{'visible': [True, False, False, False, False, False]},
                                                     {'title': 'TOP 15 organizations on Twitter (BTC & ETH)'}]),
                                        dict(label = 'Twitter (BTC)',
                                             method = 'update',
                                             args = [{'visible': [False, True, False, False, False, False]},
                                                     {'title': 'TOP 15 organizations on Twitter (BTC)'}]),
                                        dict(label = 'Twitter (ETH)',
                                             method = 'update',
                                             args = [{'visible': [False, False, True, False, False, False]},
                                                     {'title': 'TOP 15 organizations on Twitter (ETH)'}]),
                                        dict(label = 'Reddit (BTC)',
                                             method = 'update',
                                             args = [{'visible': [False, False, False, True, False, False]},
                                                     {'title': 'TOP 5 organizations on Reddit (BTC)'}]),

                                        dict(label = 'Reddit (ETH)',
                                             method = 'update',
                                             args = [{'visible': [False, False, False, False, True, False]},
                                                     {'title': 'TOP 5 organizations on Reddit (ETH)'}]),
                                        dict(label = 'CCN news',
                                             method = 'update',
                                             args = [{'visible': [False, False, False, False, False, True]},
                                                     {'title': 'TOP 15 organizations on CCN news'}]),


                                    ]),
                                     
                                    direction = 'down',
                                    pad = {'r': 10, 't': 10},
                                    showactive = True,
                                    x = 0,
                                    xanchor = 'right',
                                    y = 1.2,
                                    yanchor = 'top' 
                                )
                            ])
                            ,
                            xaxis = dict(title = 'Number of occurrences'),
                            yaxis = dict(title = ''),
                            margin=dict(
        l=250,
        r=20,
        t=70,
        b=70,
    )

                    )}
iplot(go.Figure(figure))

### People

In [269]:
%matplotlib inline
figure = {'data':[
        go.Bar(
        x = df_tweet_pep_agg['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_pep_agg['Person'].head(15).sort_index(ascending=False),
        name = "Twitter (BTC & ETH)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_tweet_pep_btc_agg['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_pep_btc_agg['Person'].head(15).sort_index(ascending=False),
        name = "Twitter (BTC)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_tweet_pep_eth_agg['Number'].head(15).sort_index(ascending=False),
        y = df_tweet_pep_eth_agg['Person'].head(15).sort_index(ascending=False),
        name = "Twitter (ETH)",
        visible=True,
        orientation = 'h'
        ),
        go.Bar(
        x = df_btc_reddit_pep_agg['Number'].head(5).sort_index(ascending=False),
        y = df_btc_reddit_pep_agg['Person'].head(5).sort_index(ascending=False),
        name = "Reddit (BTC)",
        visible=True,
        orientation = 'h',            
        marker=dict(
        color='rgb(231, 60, 0)')     
        ),
        go.Bar(
        x = df_eth_reddit_pep_agg['Number'].head(5).sort_index(ascending=False),
        y = df_eth_reddit_pep_agg['Person'].head(5).sort_index(ascending=False),
        name = "Reddit (ETH)",
        visible=True,
        orientation = 'h',            
        marker=dict(
        color='rgb(231, 60, 0)')
        ),
],
        'layout':go.Layout(title = 'TOP people on Twitter & Reddit', showlegend=True,
                            updatemenus = list([
                                dict(active=-1,
                                     buttons=list([
                                        dict(label = 'Twitter (BTC & ETH)',
                                             method = 'update',
                                             args = [{'visible': [True, False, False, False, False]},
                                                     {'title': 'TOP 15 people on Twitter (BTC & ETH)'}]),
                                        dict(label = 'Twitter (BTC)',
                                             method = 'update',
                                             args = [{'visible': [False, True, False, False, False]},
                                                     {'title': 'TOP 15 people on Twitter (BTC)'}]),
                                        dict(label = 'Twitter (ETH)',
                                             method = 'update',
                                             args = [{'visible': [False, False, True, False, False]},
                                                     {'title': 'TOP 15 people on Twitter (ETH)'}]),
                                        dict(label = 'Reddit (BTC)',
                                             method = 'update',
                                             args = [{'visible': [False, False, False, True, False]},
                                                     {'title': 'TOP 5 people on Reddit (BTC)'}]),

                                        dict(label = 'Reddit (ETH)',
                                             method = 'update',
                                             args = [{'visible': [False, False, False, False, True]},
                                                     {'title': 'TOP 5 people on Reddit (ETH)'}]),

                                    ]),
                                     
                                    direction = 'down',
                                    pad = {'r': 10, 't': 10},
                                    showactive = True,
                                    x = 0,
                                    xanchor = 'right',
                                    y = 1.2,
                                    yanchor = 'top' 
                                )
                            ])
                            ,
                            xaxis = dict(title = 'Number of occurrences'),
                            yaxis = dict(title = ''),
                            margin=dict(
                            l=250,
                            r=20,
                            t=70,
                            b=70,
    )
                    )}
iplot(go.Figure(figure))

Inspired by
https://pythonprogramming.net/using-bio-tags-create-named-entity-lists/?completed=/testing-stanford-ner-taggers-for-speed/